<div class="app-root">
  <div class="app-root__wrap">
    <div class="app-root__row">
      <div class="app-root__descr">
        <h2 class="app-root__title">
          <span>Success!</span>
          Meowoof is installed
        </h2>
        <p class="app-root__subtitle">
          Now select the pets you like most — or all of them!
        </p>
      </div>
      <div class="app-root__card">
        <div class="app-root__switcher">
          <mat-slide-toggle class="app-root__switcher-item"
                            [labelPosition]="'before'">I love cats
          </mat-slide-toggle>
          <mat-slide-toggle class="app-root__switcher-item"
                            [labelPosition]="'before'">I love dogs
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="app-root__action">
      <app-button></app-button>
    </div>
  </div>
</div>
