.ui-button {
  width: 227.97px;
  height: 70px;
  padding-right: 30px;
  //padding: 22px 59px 22px 36px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.00398086px;
  color: #FFFFFF;

  background: url('/assets/btn_bgr.svg') center / contain no-repeat;
  //background: #000000;
  border-radius: 10px;
  border: none;
  //&:before {
  //  content: '';
  //  border-top: 60px solid transparent;
  //  border-bottom: 60px solid transparent;
  //
  //  border-left: 60px solid green;
  //}
}
