@import '_colors.css';
@import 'checkbox.css';

mark {
    z-index: 10000;
    cursor: pointer;
}

.meowoof {
    z-index: 2147483647;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    padding: 12px 20px 20px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    background: var(--white);
}

.meowoof__header {
    position: relative;
    padding: 0 20px 18px;
    display: flex;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
}

.meowoof__header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 8px;
    width: 15px;
    height: 26px;
    background: url('../assets/pencil.svg') center / contain no-repeat;
}
.meowoof__header img {
    margin-right: 8px;
    max-width: 15px;
    max-height: 26px;
}

.meowoof__settings {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.meowoof__settings-item {
    font-size: 15px;
    line-height: 200%;
    color: var(--black);
}

.meowoof__settings-item + .meowoof__settings-item {
    margin-top: 10px;
}

.meowoof-selector {
    padding: 20px 20px 24px;
    background: var(--purple);
    border-radius: 12px;
}

.meowoof-selector__desc {
    max-width: 257px;
    margin-bottom: 18px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--white);
}

.meowoof-selector__desc span {
    color: var(--green);
}

.meowoof-selector__switcher {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.meowoof-selector__switcher-item {
    font-size: 15px;
    line-height: 200%;
    color: var(--white);
}

.meowoof-selector__switcher-item + .meowoof-selector__switcher-item {
    margin-top: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 400px;
    height: 270px;
    background: var(--white);
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    border-radius: 12px;
}

.popup img {
    object-fit: contain;
    height: calc(100% - 50px);
    width: 100%;
}

.popup__header {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 1.4;
    color: var(--black);
    background: var(--white);
    border-radius: 12px 12px 0 0;
}

.popup__header p {
    margin: 0;
}
